<!doctype html>

<html lang="pt-br">
<head>
  <meta charset="utf-8">

  <title>Cadastrar Motorista</title>
  <script src="jquery.min.js"></script>
  <script>
    function cadastrar(){
      var url = new URL(window.location.href);
      var form = document.getElementById('myForm'),
          nome = form.elements.namedItem('nome').value,
          email = form.elements.namedItem('email').value,
          senha = form.elements.namedItem('senha').value;
          
          if(nome == '' || email == '' || senha == ''){
            alert('Existem campos em branco.');
          } else{
            window.location = url+nome+'/'+email+'/'+senha;            
          }
    }
  </script>
  <link rel="stylesheet" href="bootstrap.min.css">
  <script src="bootstrap.min.js"></script>

  <link rel="stylesheet" href="front.css">
</head>

<body>
    <header class="header clearfix">
      <nav>
        <ul class="nav nav-pills float-right">
          <li class="nav-item">
            <a class="nav-link active" href="#">Registrar <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contato</a>
          </li>
        </ul>
      </nav>
      <h3 class="text-muted">Yet Another Ride Application</h3>
    </header>

    <div class="container">        
      <form class="form-signin" onsubmit="cadastrar();">
        <h2 class="form-signin-heading">Novo Motorista</h2>
        <label for="inputNome" class="sr-only">Nome</label>
        <input name="nome" type="text" id="inputNome" class="form-control" placeholder="Nome" required autofocus>
        <label for="inputEmail" class="sr-only">Endereço de Email</label>
        <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email" required>
        <label for="inputSenha" class="sr-only">Senha</label>
        <input name="senha" type="password" id="inputSenha" class="form-control" placeholder="Senha" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Cadastrar</button>
      </form>        
    </div> <!-- /container -->

</body>
</html>